* {
    margin: 0;
    padding: 0;
   
}
.card-section {
    height: 400px;
    border-radius: 22px;
    border: 6px solid red;
    margin: 80px 55px 100px 50px;
    display: flex;
    justify-content: space-around;
    background: #151515;
    padding-top: 120px;
}
.card {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content:center;
    align-items: center;
    transition: 0.5s;
    border-radius: 20px;
    transition-delay: 0.5s;
}
.card:hover {
    width: 550px;
    height: 300px;
    transition-delay: 0.5s;
}
.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.card .circle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 8px solid var(--clr);
    filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 60px var(--clr));
    transition: 0.5s, background 0.5s;
    transition-delay: 0.75s,1s;
   /* background: #191919; */
 
}
.card:hover .circle::after {
    transition-delay: 0.5s;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: var(--clr);
}
.card .circle .logo {
    position: relative;
    width: 250px;
    transition: 0.5s;
    transition-delay: 0.5s; 
}
.card:hover .circle .logo {
    transform: scale(0);
    transition-delay: 0s;
}
.card .product-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(315deg);
    height: 300px;
    transition: 0.5s ease-in-out;
}
.card:hover .product-img {
    transition-delay: 0.75s;
    top: 25%;
    left: 72%;
    height: 500px;
    transform: translate(-50%, -50%) scale(1) rotate(15deg);
}
.card .content {
    position: absolute;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}
.card:hover .content {
    transition-delay: 0.75s;
    opacity: 1;
    visibility: visible;
    left: 20px;
}
.card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}
.card .content p {
    color: #fff;
}
.card .content a {
    position: relative;
    color: #111;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
}

